<div class="row">
  <div class="col-lg-10 col-md-offset-1">
    <div id="rg-gallery" class="rg-gallery">
      <div class="rg-thumbs">
        <div class="es-carousel-wrapper">
          <div class="es-nav">
          </div>
          <div class="es-carousel">
            <ul>
{% assign def = site.galleryDefaultSettings %}

{% for object in include.collection %}

    {% assign i   = object.image %}

    {% if i.ext %}
      {% assign fileExtension  = i.ext %}
    {% else %}
      {% assign fileExtension  = def.imgDefaultExtension %}
    {% endif %}

    {% if i.thumb %}
      {% assign thumb  = i.thumb %}
    {% else %}
      {% assign thumb  = def.imgDefaultThumbAppendString %}
    {% endif %}

    {% assign imgAlt   = object.nom | append : site.galleryDefaultSettings.imgAltAppendString %}

    {% assign thumbUrl = include.imagesPath | append : 'thumbs/' | append : i.base | append : thumb | append : fileExtension %}

    {% assign index = forloop.index | minus: 1 %}

        <li>
              <a href="#">
                  <img src="{{thumbUrl}}" data-index="{{ index }}" alt="{{imgAlt}}">
              </a>
        </li>
{% endfor %}
            </ul>
          </div>
        </div>
      </div><!-- rg-thumbs -->
    </div>
  </div>
</div>

<script>
var EFGallery           = {{ include.collection | jsonify }};
var EFGalleryImagesPath = '{{ include.imagesPath }}';
var EFGalleryDefaults   = {{ def | jsonify }};
</script>
