<footer class="footer">
    <p class="text-right">
      <a href="mentions-legales.html">Mentions légales</a>
    </p>
</footer>

<script type="text/javascript" src="/bootstrap/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/jquery.easing.1.3-min.js"></script>
<script type="text/javascript" src="/bootstrap/js/jquery.elastislide-min.js"></script>
<script type="text/javascript" src="/bootstrap/js/gallery-min.js"></script>
<script type="text/javascript" src="/bootstrap/js/scripts.js"></script>
