<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.name }} - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
    <meta name="author" content="Eric Ferber">
    <meta name="ICBM" content="49.103961, 6.844029‎">
    <script type="text/javascript" src="/bootstrap/js/Imager.min.js"></script>

</head>
