<header class="site-header">

    <div class="page-header">
      <h1>
        <a href="/">{{ site.name }}</a>
      </h1>
    </div>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <span>Menu</span>
          </button>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
          <ul class="nav navbar-nav">
{% for weight in (1..100) %}{% for p in site.pages %}{% if p.menu == 'main' %}{% if p.weight == weight %}<li{% if p.url == page.url %} class="active"{% endif %}><a href="{{ p.url }}">{{ p.title }}</a></li>{% endif %}{% endif %}{% endfor %}{% endfor %}
          </ul>
        </div>
      </div>
    </nav>

</header>


